/* === HEADER === */
header {
  background-color: #ff8000;
}

header img {
  height: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* === MAIN-CONTENT === */
.main_container {
  display: flex;
  min-height: 100vh;
}

.main_content {
  width: 75%;
}

.restaurant_cover {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.restaurant_logo {
  position: absolute;
  top: 340px;
  left: 36.66%;
  height: 80px;
  border: 1px solid black;
  border-radius: 50%;
}

.restaurant_card {
  background-color: rgb(253, 252, 251);
}

.restaurant_info {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

section h1 {
  font-size: 40px;
}
section h4 {
  color: #7b807d;
}
section span {
  font-size: 20px;
  color: #ff8000;
}

.categories {
  background-color: #faf5f3;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.categories img {
  height: 24px;
}

.menu_card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dish_box {
  display: flex;
  justify-content: space-between;
  border: 1px solid#F1DECF;
}

.dish_box_bg_color {
  background-color: #ffe9d1;
}

.dish_box button {
  height: 24px;
  color: #ff8000;
  background-color: white;
  border: 1px solid#F1DECF;
}

.dish_box_info {
  padding: 8px;
}

.price {
  color: #f08833;
  font-weight: bold;
}

/* == FOOTER === */
footer {
  background-color: black;
}

footer img {
  height: 40px;
}
