/* = SHOPPING CART = */
.cart_container {
  min-width: 300px;
  max-width: 400px;
}

.cart_content h2 {
  font-size: 40px;
  text-align: center;
  padding: 8px;
}

.cart_divider {
  background-color: #f1ece6;
  height: 2px;
}

.cart_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.cart_options {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.cart_buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cart_buttons button {
  color: #ff8b02;
  background-color: rgb(red, green, blue, 0.01);
  border: none;
}

.cart_subtotal {
  display: flex;
  justify-content: space-between;
  color: #7b807d;
}

.cart_shipping_costs {
  display: flex;
  justify-content: space-between;
  color: #7b807d;
}

.cart_total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
